#!/bin/bash

IP_A_BANEAR=$1

if [ -z "$IP_A_BANEAR" ]; then
    echo "[ERROR] No se ha especificado ninguna IP."
    exit 1
fi

echo "[INFO] Procesando IP: $IP_A_BANEAR"

if [[ "$IP_A_BANEAR" =~ ^127\. ]] || \
   [[ "$IP_A_BANEAR" =~ ^10\. ]] || \
   [[ "$IP_A_BANEAR" =~ ^192\.168\. ]] || \
   [[ "$IP_A_BANEAR" =~ ^172\.(1[6-9]|2[0-9]|3[0-1])\. ]]; then

    echo "[SEGURIDAD] IP interna detectada. No se aplicará bloqueo."
    echo "[INFO] La IP $IP_A_BANEAR pertenece a la infraestructura interna."

    echo "$(date) [SIMULACION] Intento de bloqueo interno detectado: $IP_A_BANEAR" >> /var/log/falco-block.log

    exit 0
fi

echo "[SOC] Atacante externo detectado: $IP_A_BANEAR"

iptables -C INPUT -s "$IP_A_BANEAR" -j DROP 2>/dev/null

if [ $? -eq 0 ]; then
    echo "[FIREWALL] La IP ya estaba bloqueada."
    exit 0
fi

iptables -I INPUT -s "$IP_A_BANEAR" -j DROP

echo "[FIREWALL] IP externa bloqueada correctamente."

echo "$(date) [BLOQUEO] IP externa bloqueada: $IP_A_BANEAR" >> /var/log/falco-block.log

exit 0
